################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JobMatching/bin/
/JobMatching/obj
/JobMatchingTest/bin
/JobMatchingTest/obj
/.vs/jobmatchinggit/config
/.vs
